<div id="{{ org.key }}" class="6u 12u$(medium)">
  <div class="card-wrapper-lists">
    <div class="flip-container">
      <div class="flipper">
        <div class="front">
          <div class="image fit img-card-lists" style="background:url('//d2zrr75qo845hh.cloudfront.net/images/db/{{ org.key }}/bg.jpg'), url('//d2zrr75qo845hh.cloudfront.net/images/db/default/bg.jpg') center no-repeat; background-size:cover;">
          </div>
          <div class="card-body">
            <h3>{{ org.name }}</h3>
              <div class="card-body-text">
                {% if org.insights %}
                  {% for each in org.insights %}
                    <p class="card-well align-left">"{{ each.text }}"</p>
                    <header>
                      <h6 class="align-right text-light">&mdash; {{ each.name }}</h6>
                    </header>
                  {% endfor %}
                {% else %}
                  <p class="align-left">{{ org.description }}</p>
                {% endif %}
              </div>
            <ul class="actions card-actions">
              {% assign hash = org.links | where:"name","Website" %}
                {% for each in hash %}
                  <li><a class="js-donate button special" data-toggle="modal" data-target="#sgvg-modal" data-ein="{{ org.donation_info.us_ein }}" data-id="{{ org.key }}" data-donate-link="{{ each.link }}" data-donate-name="{{ org.name }}" data-loading-text="&lt;i class='fa fa-spinner fa-spin'&gt;&lt;/i&gt;" data-complete-text="Thank You!">Donate</a></li>
                {% endfor %}
              <li><div class="js-flip button">Learn More</li>
            </ul>
          </div>
        </div>
        <div class="back">
          <div class="card-body">
            <img src="//d2zrr75qo845hh.cloudfront.net/images/db/{{ org.key }}/avatar.jpg" data-img-type="avatar" class="img-circle img-cards-avatar-cardback">
            <header class="">
              <h3>{{ org.name }}</h3>
            </header>
            <p class="align-left js-card-description">{{ org.description }}</p>
            {% if org.target_outcome %}
              <h6 class="text-light">THE GOAL OF YOUR INVESTMENT:</h6>
              <p class="card-well align-left">{{ org.target_outcome }}</p>
            {% endif %}
            <ul class="actions">
              {% assign hash = org.links %}
              {% for each in hash %}
                <li><a href="{{ each.link }}" class="button small" target="_blank">{{ each.name }}</a></li>
              {% endfor %}
            </ul>
            <ul class="actions card-actions-back">
              <li><div class="js-flip button special">Back</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
